@import "tailwindcss";

@theme {
  --font-japanese: var(--font-hina-mincho), serif;
  /* ▼ ロゴ用のフォントクラス（font-logo）を追加！ */
  --font-logo: var(--font-yuji-syuku), serif;
}

body {
  background-color: #fbfaf5; 
  color: #2c2620; 
  position: relative; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/washi-texture.jpg"); 
  background-size: cover;
  opacity: 0.1; 
  pointer-events: none; 
  z-index: -1; 
}